@import url('https://fonts.googleapis.com/css2?family=Hind+Guntur&display=swap');
.root {
  @apply sticky top-0 bg-primary z-40 transition-all duration-150;
}

.link {
  @apply inline-flex items-center leading-6 font-medium cursor-pointer;
}

.link:hover {
  @apply text-accents-9;
}
.siteTitle{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Hind Gutur, sans-serif;
  font-size: 1.4rem;

  padding: 3px 15px;
  border: white 1px solid;
}

.link:focus {
  @apply outline-none text-accents-8;
}

.logo {
  @apply cursor-pointer border pt-1 pb-0.5;

  &:hover {
    @apply shadow-md;
    transform: scale(1.05);
  }
}
