.root {
  @apply relative max-h-full w-full box-border overflow-hidden
  bg-no-repeat bg-center bg-cover transition-transform
  ease-linear cursor-pointer;
  height: 100% !important;

}


.squareBg,
.productTitle > span,
.productPrice,
.wishlistButton {
  @apply transition-colors ease-in-out duration-500;
}

.squareBg {
  @apply transition-colors absolute inset-0 z-0;
  background-color: #212529;
}

.squareBg:before {
  @apply transition ease-in-out duration-500 bg-repeat-space w-full h-full block;
  background-image: url('/bg-products.svg');
  content: '';
}

.simple {
  & .squareBg {
    @apply bg-accents-0 !important;
    background-image: url('/bg-products.svg');
  }

  & .productTitle {
    font-size: 1rem;

    & span {
      @apply leading-extra-loose;
    }
  }

  & .productPrice {
    @apply text-sm;
  }
}

.productTitle {
  @apply pt-0  pr-2.5 max-w-full leading-extra-loose border-r border-gray-500;
  font-size: 1rem;
  letter-spacing: 0.4px;



  & span {
    @apply   bg-primary text-primary;
    font-size: inherit;
    letter-spacing: inherit;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
  }
}

.productPrice {
  @apply    pl-2.5 bg-primary text-primary font-semibold inline-block text-sm leading-6 flex justify-center items-center ;
  letter-spacing: 0.4px;
}

.wishlistButton {
  @apply w-10 h-10 flex ml-auto items-center justify-center bg-primary text-primary font-semibold  text-xs leading-6 cursor-pointer;
}

.imageContainer {
  @apply flex items-center justify-center mb-2;
  height: auto;
  width: auto;
  overflow: hidden;

  & > div {
    min-width: 100%;
  }
}

.productImage {
 @apply  object-cover;
  object-position: 10px 20px;
}
